<!doctype html>
<head>
<title>Todo App</title>
</head>

<style>
body {font-family: sans-serif;}
td {
	text-align:center;
}
th {
	text-align:center;
}
table {
	margin:auto;
	display:block;
}
</style>

<body>
	<!-- Form for submitting new todos -->
	<h1>New Todo Form</h1>
	<form action="/new_todo">
		<label for="todo_text">New Todo:</label><br>
		<input type="text" id="todo_text" name="todo_text"><br>
		<input type="submit" value="Submit">
	</form>

	<br>

	<!-- Listing for all todos -->
	<h1>Todos</h1>
	<div id="todos">
		<table>
			<tr>
				<th>Id</th>
				<th>Text</th>
				<th>Completed</th>
				<th>Complete</th>
				<th>Delete</th>
			</tr>
			{% for todo in todos %}
			<tr>
				<td>{{ todo.id }}</td>
				<td>{{ todo.text }} </td>
				<td>{{ todo.complete }}</td>
				<td>
					<form action="/toggle_complete">
						<input type="hidden" id="todo_id" name="todo_id" value="{{ todo.id }}">
						<input type="submit" value="Toggle Complete">
					</form>
				</td>
				<td>
					<form action="/delete_todo">
						<input type="hidden" id="todo_id" name="todo_id" value="{{ todo.id }}">
						<input type="submit" value="Delete">
					</form>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
